.eachResultContainer {
    width: 100%;
    height: auto;
    border: 1px solid #95989A;
    display: flex;
    margin-bottom: 20px;

    .textSection {
        width: 80%;
        justify-self: flex-start;
        border-right: 1px solid #95989A;
        padding: 20px;
        display: flex;
        
        .titleDescription {
            width: 80%;
            display: flex;
            flex-direction: column;

            h4 {
                margin: 0;
                margin-bottom: 20px;
                a {
                    color: #4D83BF;
                    text-decoration: none;
                }
            }

            p {
                margin: 0;
                font-size: .9rem;
                color: #4B5050;
            }
        }

        .isForked {
            width: 20%;
            display: flex;
            flex-direction: row-reverse;
            
            span {
                height: 20px;
                padding: 5px 20px 5px 20px;
                color: #ffffff;
                background: #2B7BC0;
            }
        }
    }

    .infoBox {
        width: 160px;
        text-align: center;
        padding: 0 5px 0 5px;
        display: flex;

        div {
            margin: 0 auto;
            align-self: center;
            display: flex;
            flex-direction: column;
            color: #4B5050;
            font-size: .9rem;

            span:first-child {
                font-weight: 400;
                padding-bottom: 15px;
            }

            span:last-child {
                font-weight: 700;
            }
        }
    }

    .starsSection {
        border-right: 1px solid #95989A;
    }

}

@media only screen and (max-width: 990px) {
    .eachResultContainer {
        flex-direction: column;

        .textSection {
            width: inherit;
            border-right: none;
            border-bottom: 1px solid #95989A;
            box-sizing: border-box;
        }

        .infoBox {
            min-width: inherit;
            border-bottom: 1px solid #95989A;
            text-align: left;
            padding-left: 20px;

            div {
                margin: 0;
                flex-direction: row;
                align-self: center;
                display: inline-block;
                padding: 20px 0 20px 0;
            }
        }

        .starsSection {
            border-right: none;
            
        }
    }
}