.footer {
    min-width: 100%;
    height: 60px;
    bottom: 0;
    display: flex;
    background: #5186C1;
    align-items: center;
    flex-shrink: 0;

    .footerText {
        margin: 0 auto;
        color: #ffffff;
        font-size: .8rem;
    }
}